body {
  background-color: #121212;
  color: #fff;
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 1rem;
}

canvas {
  max-width: 100%;
  background-color: #fff;
}

a {
  color: skyblue;
}
